<html>
  <title>Online picture crop.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    /* .coveredImage{ 
      width:100%; height:100%;
      position:absolute; top:0px; left:0px;
    } */
    .coveringCanvas{ 
      width:100%; height:100%; 
      position:absolute; top:0px; left:0px;
      background-color: rgba(255,0,0,.1);
    }

  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="static/js/crop.js"></script>
  <script src="static/js/main.js"></script>
  <script>
    var imgurl = '{{ url }}';
  </script>
  <body>
    <div class="jumbotron text-center" style="padding-top: 4px; padding-bottom: 4px; ">
      <h4>Image crop.</h4>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img id="icback" src="/static/pics/ic_back.png" style="width: 64; height: 64;" title="back"></img>
        </div>
        <div class="col-sm-4">
          <img id="iccrop" src="/static/pics/ic_crop.png" style="width: 64; height: 64;" title="crop"></img>
        </div>
        <div class="col-sm-4">
          <!-- <img id="icresize" src="/static/pics/ic_resize.png" style="width: 64; height: 64;"></img> -->
          <h3>...</h3>
        </div>
      </div>
    </div>
    <div id="workspace">
      <!-- <img id='image' style="display: hidden"></img> -->
      <canvas id='canvasImg' style="z-index: 0;"></canvas>
    </div>    

    <script>
      var crop = null;
      var cimg = null;
      var cropped = false;
      var ibase_width = 0;
      var ibase_height = 0;
      var canvas = null;
      var img = null;

      $(document).ready(function() {
        canvas = $("#canvasImg").get(0);

        var context = canvas.getContext('2d');
        img = new Image();

        img.onload = function() {
          let w = this.naturalWidth;
          let h = this.naturalHeight;

          context.canvas.width  = w;
          context.canvas.height = h;

          ibase_width = w;
          ibase_height = h;

          context.drawImage(this, 0, 0);

          var pos = $(this).offset();
          $("#canvasImg").css({top: 150 + 'px', left: pos.left, position:'absolute'});
        }

        img.crossOrigin = 'Anonymous';
        //img.src = imgurl;
        img.src = '/getimage?url=' + imgurl;
        //img.src = decodeUri(imgurl);
      });

      $('#icback').click(function(){
        window.location.href = "/";
      });
      $('#iccrop').click(function(){
        if (crop != null) {
          let rc = crop.cropRect();
          let ctx = canvas.getContext('2d');

          ctx.canvas.width  = rc.w;
          ctx.canvas.height = rc.h;

          ctx.drawImage(img, rc.x, rc.y, rc.w, rc.h, 0, 0, rc.w, rc.h);
          cimg = canvas.toDataURL();

          crop = null;
          cropped = true;

          $("#iccrop").attr("src","/static/pics/ic_crop.png");
          $("#canvasCrop").remove();
          //$("#canvasImg").remove();
          $("#canvasImg").css('visibility', 'hidden');

          //window.location = canvas.toDataURL("image/png");

          //let dom_img = "<img srs='"+ cimg +"' style='z-index: 2; width: " + rc.w + "px; height: "+ rc.h + "px'></img>";
          var image = new Image();
          image .src = cimg;
          $("#workspace").append(image);

          return;
        }

        if (cropped) {
          alert('Image already cropped, update page please...');
          return;
        }

        $('body').append("<canvas id='canvasCrop' stype='z-index: 1;'></canvas>");

        setTimeout(function(){
          console.log('Start crop.');
          var canvasImg = $("#canvasImg").get(0);

          let cpos = $('#canvasImg').offset();
          $('#canvasCrop').attr('position', 'absolute');
          $('#canvasCrop').offset({left: cpos.left, top: cpos.top});

          var canvas = $("#canvasCrop").get(0);
          var context = canvas.getContext('2d');

          context.canvas.width = ibase_width;
          context.canvas.height = ibase_height;

          if (crop == null) {
            crop = new Crop(context, 0, 0, ibase_width, ibase_height);
            crop.draw();

            $("#iccrop").attr("src","/static/pics/ic_crop_a.png");
          }

          $("#canvasCrop").mousedown(function(e){
            var x = parseInt(e.pageX - $(this).position().left, 10);
            var y = parseInt(e.pageY - $(this).position().top, 10);

            if (crop != null) 
              crop.mousedown(x, y);

            console.log('X:' + x + ' Y:' + y);
          });

          $("#canvasCrop").mouseup(function(e){
            var x = parseInt(e.pageX - $(this).position().left, 10);
            var y = parseInt(e.pageY - $(this).position().top, 10);

            if (crop != null) 
              crop.mouseup(x, y);
          });

          $("#canvasCrop").mousemove(function(e){
            var x = parseInt(e.pageX - $(this).position().left, 10);
            var y = parseInt(e.pageY - $(this).position().top, 10);

            if (crop != null) 
              crop.mousemove(x, y);
          });
        }, 500);
      });
    </script>
  </body>
</html>